@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    scroll-behavior: smooth;
    font-family: "Poppins";
}

/* Landing Page */
.navbar-brand h4 {
    color: #2a2f4f;
}

.navbar-brand span {
    color: #917fb3;
}

.btn-signup,
.content-hero button {
    background-color: #917fb3;
    padding: 10px 25px;
}

.content-hero h2 {
    font-size: 55px;
}

.content-hero span {
    color: #917fb3;
}

.content-hero p {
    font-size: 15px;
}

/* Dashboard User */
.btn-add {
    background-color: #f6ffde;
}

.btn-add:hover {
    background-color: #c9dbb2;
}

.input {
    border: 1.5px solid rgb(148, 148, 148);
}

.input:focus {
    border: 1.5px solid #917fb3;
    box-shadow: 0 0 0 0.2rem rgba(145, 127, 179, 0.5);
}

.custom-checked:checked {
    border: 1.5px solid #917fb3;
    background-color: #917fb3;
}

.card-info {
    background-color: #aac8a7;
    color: #fff;
}

.menu-detail .dropdown-menu a:active{
    background-color: #E3F2C1;
}]
